ShowBoneESP 1
TriggerDelay 90
ShowBoxESP 1
TriggerHotKey 0
RCSBullet 1065353216
ShowHealthBar 1
AimFov 37.4
FovLineSize 60
AimBotHotKey 6
ShowLineToEnemy 0
RCSScale.x 2
RCSScale.y 2
ShowWeaponESP 1
Smooth 1
ShowFovLine 1
ShowEyeRay 1
ShowPlayerName 1
AimBot 1
AimPosition 0
AimPositionIndex 6
HealthBarType 0
BoneColor 0 0.882353 1 1
FovLineColor 0.215686 0.215686 0.215686 0.862745
LineToEnemyColor 1 1 1 0.862745
BoxColor 1 0 0.5 1
EyeRayColor 1 0 0 1
RadarCrossLineColor 0.862745 0.862745 0.862745 1
HeadShootLineColor 1 1 1 1
ShowMenu 1
ShowRadar 0
RadarRange 150
RadarPointSizeProportion 1
ShowCrossLine 0
RadarType 2
Proportion 2230
BoxType 0
TriggerBot 0
TeamCheck 1
VisibleCheck 0
ShowHeadShootLine 1
ShowCrossHair 1
CrossHairColor 0.176471 0.176471 0.176471 1
CrossHairSize 150
ShowAimFovRange 1
AimFovRangeColor 1 0.205882 0 1
OBSBypass 0